.mat-card-header {
    background-color: #CDE0C4 !important;
    padding: 5px !important;
}

.mat-card {
    padding: 0 !important;
}

#cardId {
    background-color: #cdded2 !important;
    padding: 5px !important;
    font-weight: bold;
    font-size: 1.1rem
}
