<div>
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-primary" (click)="landmark()">Landmark Map</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" (click)="routing()">Routing Map</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-info" (click)="antPath()">Ant-Path Map</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary" (click)="geofence()">Geofence Map</button>
        </div>
      </div>
</div>