<div>
  <div class="card">
    <div class="card-header">
      <h2>Ant-Path Map</h2>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary" (click)="clearSelection()">Clear</button>&nbsp;&nbsp;
    </div>
  </div>


  <div class="card" style="height: 85vh">
    <div class="card-body">
      <ag-grid-angular
        style="width: 100%; height: 100%"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData$ | async"
        [rowSelection]="'multiple'"
        [animateRows]="true"
        [pagination]="true"
        [paginationAutoPageSize]="true"
        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)"
      ></ag-grid-angular>
    </div>
  </div>


</div>

